body {
  background-color: #3e83f2;
}

.clock-wrapper {
  text-align: center;
  margin-top: 5%;
}
.clock {
  display: inline-block;
  width: auto;
}

/*
.counter-wrapper {
  text-align: center;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
}

.counter-wrapper td {
  text-align: center;
  vertical-align: middle;
  width: 10%;
}
*/
