
{% extends "base.html" %}

{% block css %}
	{% assets "index_css" %}
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
	{% endassets %}
{% endblock %}

{% block content %}
<div class="clock-wrapper">    
    <div class="clock"></div>
</div>
{% endblock %}




{% block js %}

{% assets "index_js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}

